@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
}

.desactive-tab-text {
  display: none;
}

.vertical-align-middle {
  vertical-align: middle !important;
}

html {
  /*height: 100%;*/
}

body {
  font-family: 'Jost', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #e9effa;

  /*position: relative;
  min-height: 100vh;*/
  /*height: 100%; /*
  display: flex;
  flex-direction: column;
  justify-content: space-between;*/
}

.logo {
  width: 80px;
}

.container {
  height: 100%;
  margin-top: 120px;
}

.navbar {
  background-color: #153d77 !important;
}

.navbar-brand {
  font-weight: 700;
  color: #3498db;
}

.nav-link {
  color: #ecf0f1 !important;
}

.nav-link:hover {
  color: #3498db !important;
}

.nav-link.active {
  color: #2a5ca7 !important;
  font-weight: 700;
}

.custom-active {
  color: rgb(177, 177, 177) !important;
  font-weight: 500;
}

.nav-item {
  color: #95a5a6;
}

.btn-outline-success {
  color: #3498db;
  border-color: #3498db;
}

.btn-outline-success:hover {
  background-color: #3498db;
  color: white;
}

.desactive-tab-text {
  color: #95a5a6;
}

/* Abas */

/*.tab-pane {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.form-group label {
  font-weight: 500;
}
.form-group input {
  margin-bottom: 15px;
}
#cadastro-tab-title {
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
} */

/* Load File input */

.load-file-container {
  background-color: #7ca5e246;
  padding: 12px;
  border-radius: 8px;
}

/* Card Tabs*/

.card {
  border: none;
}

.card-header {
  background-color: #2a5ca7;
  border-bottom: none;
}

.custom-nav-link-tab {
  display: flex;
  gap: 6px;
}

/* Sobre e Ajuda */

.card-header {
  color: #e9effa !important;
}

/* Footer */

.custom-footer {
  margin-top: 12px;
}
